:root {
    --bg-color: #111111;
    --theme-color: #9A4DFF;
    --shadow-color: #2B1D3B;
    --text-color: #FFFFFF;
    --copyright-color: rgb(75 85 99 / 1);;
    --link-color: var(--theme-color);
    --button-color: var(--theme-color);
    --button-text-color: var(--text-color);
    --button-border-color: #432959;

    @media print {
        --bg-color: white;
        --text-color: black;
    }




}

@font-face {
    font-family: 'Noto Sans';
    src: url('/static/fonts/NotoSans.woff2') format('woff2');
}

@font-face {
    font-family: 'Minecraft';
    src: url('/static/fonts/Minecraft_Seven.woff2') format('woff2');
}